[submodule "backend/locale"]
	path = backend/locale
	url = git@github.com:tg-watchdog/bot-locale.git
[submodule "frontend/src/locale"]
	path = frontend/src/locale
	url = git@github.com/tg-watchdog/webapp-locale.git
